<h1>
  Add a new post
</h1>


<hr>

<form action="/create_post" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create post
  </button>
</form>

<hr>

<a href="/posts">
  Go back
</a>
