<h1>
  Edit article #<%= @article.id %>
</h1>

<hr>

<form action="/update_article/<%= @article.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update article
  </button>
</form>

<hr>

<a href="/articles">
  Go back
</a>
