<!-- Validation failure messages -->
<% if @article.present? %>
  <% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new article
</h1>


<hr>

<!-- Form article start -->
<form action="/create_article" method="post">
<!-- Form article end -->

  <button class="btn btn-block btn-outline-secondary">
    Create article
  </button>
</form>

<hr>

<a href="/articles">
  Go back
</a>
